* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #303030;
    color: #efefef;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
}

.nav__menu {
    list-style: none;
}

.nav__menu li {
    display: inline-block;
    padding: 0px 8px;
}

.nav__menu li a {
    transition: all 0.2s ease 0s;
}

.nav__menu li a:hover {
    color: #c0c0c0;
}
